body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

header {
  padding: 30px;
}

header h1 {
  margin-bottom: 10px;
  color: #38bdf8;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background: #1e293b;
  width: 300px;
  border-radius: 12px;
  padding: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h2 {
  margin: 10px 0 5px;
}

.card p {
  font-size: 14px;
  color: #cbd5e1;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.card a:hover {
  background: #0ea5e9;
}


.img {
  width:150px;
  border:2px solid white;
  border-radius:15px;
}
.img2 {
  width:150px;
  border:2px solid white;
  border-radius:15px;
}
  .img3 {
  width:150px;
  border:2px solid white;
  border-radius:15px;
}

.btn1 {
  color:white;
  font-weight:bold;
  text-decoration: none;
}

.btn2 {
  color:white;
  font-weight:bold;
  text-decoration: none;
}

